body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 50px;
}
header {
    display: block;
    height: 300px;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    background-color: white;
}

#left {
    float: left;
    width: 20%;
    margin-top: 30px;
}
#middle {
    float: left;
    width: 60%;
    text-align: center;
    margin-top: 60px;
}
#right {
    float: right;
    width: 20%;
    text-align:right;
    padding-top: 50px;
}
#right img {
    margin-right: 10px;
}

#logo {
    display: inline-block;
}

#logo_mobile {
    display: none;
}

#clock {
    color: #000;
    font-size: 250%;
}

#tableheader {
    display: block;
    box-sizing: border-box;
    height: 150px;
    width: 100%;
    background-color: #F4D600;
    text-align: left;
    padding-top: 40px;
    font-weight: bold;
    position: fixed;
    top: 300px;
}

#headerLine {
    display: block;
    float: left;
    width: 15%;
}
#headerDest {
    display: block;
    float: left;
    width: 45%;
}

#headerDepa {
    display: block;
    float: left;
    width: 220px;
}

#headerStop {
    display: block;
    float: right;
    width: 15%;
}

#icontent {
    padding-top: 450px;
}

#routes tr {
    text-align: left;
    height: 80px;
}

.headerrow {
    height: 150px;
    background-color: #F4D600;
}

table {
    width: 100%;
    border-spacing: 0px;
}

tr {
    font-size: 120%;
}

td.line {
    width: 15%;
}
td.dest {
    width: 45%
}
td.depa {
    width: 200px;
}
td.depa.late {
    font-weight: bold;
}
td.stop {
    width:15%;
}

td {
    padding: 4px;
    text-align: left;
    vertical-align: middle;
}
td.stop { }
tr.row {
    height: 20px;
}
tr:nth-child(even) { background-color: #F4D600; }
tr:nth-child(odd) { background-color: #ccc; }

@media screen and (max-height: 700px), screen and (max-width: 1100px)  {
    body {
        font-size: 30px;
    }

    #clock {
        display: none;
    }

    #tableheader {
        height: 100px;
        padding-top: 30px;
    }

    #icontent {
        padding-top: 400px;
    }

    #headerDepa, .depa {
        width: 120px;
    }
}

@media screen and (max-width: 570px), screen and (max-height: 600px) {
    body {
        font-size: 20px;
    }

    #left {
        padding: 0;
        float: none;
        text-align: center;
        width: auto;
        margin: 0;
    }
    #logo, #middle, #right {
        display: none;
    }
    #logo_mobile {
        display: inline-block;
    }

    #headerDepa, .depa {
        width: 80px;
    }

    header {
        height: 100px;
    }
    #tableheader {
        top: 100px;
        height: 80px;
    }
    #icontent {
        padding-top: 180px;
    }
}